{
  "env": {
    "browser": true
  },
  "extends": [
    "angular",
    "airbnb"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-alert": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "no-unused-vars": 0,
    "no-shadow": 0,
    "quote-props": 0,
    "no-loop-func": 0,
    "max-len": ["error", 250],
    "no-underscore-dangle": 0,
    "angular/document-service": 0,
    "angular/log": 0,
    "angular/no-service-method": 0,
    "angular/module-getter": 0,
    "angular/angularelement": 0,
    "angular/window-service": 0,
    "angular/controller-as-route": 0,
    "angular/timeout-service": 0,
    "angular/on-watch": 0,
    "angular/interval-service": 0,
    "eqeqeq": 0
  },
  "globals": {
    "SockJS": true,
    "API_ROOT": true,
    "SOCKET_ROOT": true,
    "echarts": true,
    "Swiper": true,
    "BMap": true,
    "moment": true,
    "wx": true,
    "$": true,
    "FastClick": true,
    "pingpp": true,
    "WebUploader": true,
    "store": true,
    "ENVIRONMENT": true
  }
}

